/*Created by: ANGELA NICOLE G. DENIEGA*/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

	:root {
			--primary: #4f695f; /*when clicked*/
			--dark: #21252f;
			--body: #5A5A5A;
			--white: #ffffff;
			--box-shadow: 0 8px 22px rgba(0,0,0,0.1);
	}

	body {
			font-family: "Sora", sans-serif;
			line-height: 1.7;
			background-color:#9fccc5;
			color: var(--body);
	}

	h1,h2,h3,h4,h5,h6, .display-4 {
			color: var(--dark);
			font-weight: 700;
	}

	a {
			color: var(--dark);
			text-decoration: none;
	}


	img {
			width: 100%;
	}

	.logo {
			width: 150px;
	}

/* NAVIGATION BAR */
	.navbar {
		box-shadow: var(--box-shadow);
	}
	.navbar .nav-link {
		font-size: 14px;
		font-weight: 700;
	}
	.navbar .nav-link.active {
		color: var(--primary) !important;
	}


/* HERO */
	.hero {
		background-image: url(../img/cover.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		position: relative;
		z-index: 2;
	}
	.hero::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 10;
		left: 0;
		background-color: rgba(15, 20, 30, 0.5);
		z-index: -1;
}

	.btn {
		padding: 14px 18px;
		border-width: 2px;
		border-radius: 0;
	}
	.btn-primary {
		color: #fff;
		background-color: #6e8976;
		border-color: #6e8976;
	}

	section {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.card-effect {
		box-shadow: var(--box-shadow);
		background-color: var(--white);
		padding: 25px;
		transition: all 0.35s ease;
	}
	.card-effect:hover {
		box-shadow: none;
		transform: translateY(5px);
	}

	.iconbox {
		width: 54px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--primary);
		color: var(--white);
		font-size: 32px;
		border-radius: 100px;
		flex: none;
	}

/* SERVICE */
	.service {
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	.service::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: -100%;
		left: 0;
		background-color: var(--primary);
		z-index: -1;
		opacity: 0;
		transition: all 0.4s ease;
	}
	.service:hover .iconbox {
		background-color: var(--white);
		color: var(--primary);
	}
	.service:hover h5,
	.service:hover p {
		color: var(--white);;
	}
	.service:hover ul {
		color: var(--white);;
	}
	.service:hover::after {
		opacity: 1;
		top: 0;
	}


	.col-img {
		background-image: url(../img/cover2.jpg);
		background-position: center;
		background-size: cover;
		min-height: 500px;
	}

	.col-img2 {
		background-image: url(../img/cover3.jpg);
		background-position: center;
		background-size: cover;
		min-height: 300px;
	}

/* PROJECTS */
	.project {
		position: relative;
		overflow: hidden;
	}
	.project .overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(21, 20, 51, 0.8);
		padding: 30px;
		display: flex;
		align-items: flex-end;
		transition: all 0.4s ease;
		opacity: 0;
	}
	.project img {
		transition: all 0.4s ease;
	}
	.project:hover .overlay{
		opacity: 1;
	}
	.project:hover img {
		transform: scale(1.1);
}

/* FAQS */
	.faqs i {
		font-size: 20px;
		color: var(--primary);
	}
	.faqs ul li {
		margin-top: 8px;
}

/* TEAM */
	.team-member img {
		width: 125px;
		height: 125px;
		border-radius: 100px;
}

/* SOCIALS */
	.social-icons {
		display: flex;
		justify-content: center;
	}
	.social-icons a {
		width: 34px;
		height: 34px;
		background-color: var(--primary);
		border-radius: 2px solid var(--primary);
		color: var(--white);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;
		margin-left: 5px;
		transition: all 0.4s ease;
		border: 2px solid var(--primary);
	}
	.social-icons a:hover {
		color: var(--primary);
		background-color: transparent;
		border-color: var(--primarys);
}

/* FORM */
	form input.form-control {
		height: 56px;
	}
	form .form-control {
		border: transparent;
		border-radius: 0;
		background-color: rgba(0,0,0,0.02);
}

/* Terms and Conditions  + Privacy Policy*/
	#tac{
		padding-left: 160px;
		padding-right: 160px;
	}

	#privacy{
		padding-left: 160px;
		padding-right: 160px;
	}

	#tou2-1{
		padding-left: 20px;
		padding-right: 20px;
	}

/*REVIEWS - AGOR*/

	*{
		margin: 0px;
		padding: 0px;
		list-style: none;
		text-decoration: none;
	}

	.reviewsClass{
		position: relative;

	}
	.reviewsClass h1{
		font-family: "Sora", sans-serif;
		text-align: center;
		margin-top: 2%;
	}
	.reviewsClass img {
		height: 400px;
		width: 550px;
		margin-left: 32%;
		margin-top: 1%;
		border-color: white;
		border: white;
		border-width: 1000px;
		border-radius: 3%;

	}
	.reviewsClass p{
		text-align: center;
		font-family: "Sora", sans-serif;
		font-size: 20px;

	}
	.reviewsClass hr{
		margin: 0 100px 0 100px;
		border: none;
		border-top: solid 1px black;
		width: 85%;
	}
	.reviewsClass img{
		float: left;
		margin-top: 1%;
		margin-left: 8%;
		border-radius: 3%;
		margin-bottom: 1%;
		height: 400px;
		weight: 300px;
		box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}
	.reviewsClass h1{
		text-align: right;
		font-family: "Sora", sans-serif;
		margin-right: 35%;
		margin-top: 1%;
	}
	.reviewsClass h6{
		text-align: right;
		font-family: "Sora", sans-serif;
		margin-right: 30%;
		font-size: 11px;
	}
	.reviews p{
		text-align: left;
		font-family: "Sora", sans-serif;
		margin-left: 49%;
		margin-right: 10%;
		font-size: 20px;
		border-top-width: 3px;
		justify-content: left;
	}



	.reviews2 hr{
		margin: 0 100px 0 100px;
		border: none;
		border-top: solid 1px black;
		width: 85%;
	}
	.reviews2 img{
		float: right;
		margin-top: 1%;
		margin-right: 8%;
		margin-bottom: 1%;
		border-radius: 3%;
		height: 400px;
		weight: 300px;
		box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}
	.reviews2 h1{
		text-align: left;
		font-family: "Sora", sans-serif;
		margin-left: 15%;
		margin-top: 1%;
	}
	.reviews2 h6{
		text-align: left;
		font-family: "Sora", sans-serif;
		margin-left: 35%;
		font-size: 11px;
	}
	.reviews2 p{
		text-align: right;
		font-family: "Sora", sans-serif;
		margin-left: 10%;
		margin-right: 50%;
		font-size: 20px;
		border-top-width: 3px;
		justify-content: left;
	}


	.reviews3 hr{
		margin: 0 100px 0 100px;
		border: none;
		border-top: solid 1px black;
		width: 85%;
	}
	.reviews3 img{
		float: left;
		margin-top: 1%;
		margin-left: 8%;
		margin-bottom: 1%;
		border-radius: 3%;
		height: 400px;
		weight: 300px;
		box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}.reviews3 h1{
		text-align: right;
		font-family: "Sora", sans-serif;
		margin-right: 30%;
		margin-top: 1%;
	}
	.reviews3 h6{
		text-align: right;
		font-family: "Sora", sans-serif;
		margin-right: 35%;
		font-size: 11px;
	}
	.reviews3 p{
		text-align: left;
		font-family: "Sora", sans-serif;
		margin-left: 45%;
		margin-right: 10%;
		font-size: 20px;
		border-top-width: 3px;
		justify-content: left;
	}




	/*SERVICES */
	* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
	}


	.divfaqs{
	  font-family: "Sora", sans-serif;
	}
	.divfaqs img{
	  float: right;
	  border-radius: 40%;
	  height: 400px;
	  weight: 200px;
	  margin-right: 15%;
	  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}
	.divfaqs h1{
	  margin-top: 5%;
	  margin-left: 15%;
	}
	.divfaqs p{
	  margin-left: 15%;
	  margin-right: 50%;
	}
	  ul {
		list-style-type: none;
	  }


	  .box-container {

		margin-left: 14%;
		display: flex;
		justify-content: left;
		align-items: left;
	}

	.box {
		margin-left: 10%;
		width: 200px; /* width of the boxes */
		height: 50px; /* height of the boxes */
		background-color: black; /* makes the boxes transparent */
		border: 1px solid #333; /* adds a border to the boxes */
		text-align: center; /* centers the text in the boxes */
		font-size: 24px;
		color: white;
		cursor: pointer;
		margin: 10px; /* adds some space between the boxes */
	}
	.box2 {
	  margin-left: 10%;
	  width: 200px; /* width of the boxes */
	  height: 50px; /* height of the boxes */
	  background-color: transparent; /* makes the boxes transparent */
	  border: 1px solid #333; /* adds a border to the boxes */
	  text-align: center; /* centers the text in the boxes */
	  font-size: 24px;
	  cursor: pointer;
	  margin: 10px; /* adds some space between the boxes */
	}
	#transparent-rectangle{
	  font-family: "Sora", sans-serif;
	  margin-right: 0%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.friendsbox {

	  margin-top: 15px;
	  margin-right: 10%;
	  width: 600px; /* width of the boxes */
	  height: 50px; /* height of the boxes */
	  background-color: transparent; /* makes the boxes transparent */
	  border: 5px solid rgb(0, 0, 0); /* adds a border to the boxes */
	  text-align: center; /* centers the text in the boxes */
	  font-size: 24px;
	  cursor: pointer;
	  font-weight: bold;
	  margin: 0; /* adds some space between the boxes */
	}
	.dog img{
	  border-radius: 50%;
	  height: 300px;
	  width: 300px;
	  margin-left: 20%;
	  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}
	.dog2 img{
	  border-radius: 50%;
	  height: 300px;
	  width: 300px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}
	.divide hr{
	  margin: 0 100px 0 100px;
	  border: none;
	  border-top: solid 1px black;
	  width: 85%;
	}


	form {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 100vh;
	}

	/* Style the form container */
	.adopt-container {
	  background-color: #FFF8DC; /* cream color */
	  padding: 20px;
	  width: 600px;
	  border-radius: 10px;
	  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}

	/* Style the form fields */
	input[type="text"],
	input[type="email"],
	select {
	  width: 100%;
	  padding: 12px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}

	/* Style the submit button */
	input[type="submit"] {
	  width: 100%;
	  background-color: #4CAF50;
	  color: white;
	  padding: 14px 20px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	input[type="submit"]:hover {
	  background-color: #45a049;
	}
	.faq-container {
	  background-color: #FFF8DC; /* cream color */
	  border-radius: 10px; /* rounded corners */
	  padding: 20px; /* space inside the rectangle */
	  text-align: center; /* center the text within the container */
	  margin-left: 5%;
	  margin-right: 5%;
	  box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
	}

	.faq-header {
	  font-family: 'Sora', sans-serif; /* Sora font */
	  font-size: 24px; /* 24px font size */
	  display: inline-block; /* display as an inline block */
	  text-align: center; /* center the text within the header */
	}
	.faq-container hr{
	  margin: 0 100px 0 100px;
	  border: none;
	  border-top: solid 1px black;
	  width: 85%;
	}
	.faq-container p{
	  font-family: 'Sora', sans-serif;
	  font-size: 24px;
	  display: inline-block; /
	  text-align: center;
	}.faq-container h1{
	  font-family: 'Sora', sans-serif;
	  font-size: 24px;
	  display: inline-block; /
	  text-align: center;
	}

	/*CONTACT US*/
	#contactus{
		margin:150px;
		padding: 50px;

	}



/* FOOTER */
	.footer-top {
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: #242933;
	}
	.footer-top a {
		color: var(--body);
	}
	.footer-top a:hover {
		color: var(--white);
	}
	.footer-bottom {
		background-color: var(--dark);
	}
